#container{
    color: white;
}

#heading{
    margin: 22px 0;
    font-family: Arbutus Slab;
    font-size: 2em;
    color: #DDFC74;
    text-align: center;
}

#project-items-container{
    /*overflow-y: scroll;*/
}