html{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #202124;  
    /*background: -webkit-linear-gradient(to right, #8f94fb 100%, #4e54c8 100%); 
    background: linear-gradient(to top right, #615cce, #8f94fb 40%); */
}

a {
    color: #1976d2;
}
